/*
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require material_icons
 */

@import "materialize";

.navbar {
  height: 64px;
  transition: transform 1s ease-in-out;
}

.navbar.is-hidden {
  transform: translateY(-100%);
}

div.flash {
  background-color: antiquewhite;
  display: none;
  max-width: 500px;
}

div.notice {
  border: 1px solid green;
}

div.alert {
  border: 1px solid red;
}

p.flash-text {
  text-align: center;
  font-weight: bold;
}

p.notice {
  color: green;
}

p.alert {
  color: red;
}


